@import "../lib/table.css";
@import "../lib/journal.css";
@import "./system-global.scss";

/* Do not break labels */
#journal-entry .info-table-ct td:first-child {
    word-break: keep-all;
}

#journal-entry-message:not(:empty) {
    padding: 10px;
}

#journal-entry-fields {
    margin-bottom: 10px;
    width: 100%;
}

#journal-entry-fields th {
    font-weight: normal;
}

.journal-entry-value,
#journal-entry-message {
    word-break: break-all;
    white-space: pre-wrap !important;
}

.journal-entry-value {
    font-family: monospace, monospace;
}

.other-threads-btn {
    margin-top: 20px;
}

.other_threads {
    clear: both;
}

.problem-panel {
    background: none !important;
    height: auto;
}

.problem-panel:hover {
    background: #EDEDED !important;
    height: auto;
}

.panel-heading.problem-panel{
    cursor: pointer;
}

.problem-btn {
    float: right;
    padding: 0px 5px 0px 5px;
    margin-right: 10px;
    margin-top: 4px;
}

#journal .filter select,
#journal .filter input {
    margin-right: 20px;
    margin-top: 2px;
    margin-bottom: 2px;
}

#journal-box .panel-heading {
    position: sticky;
    top: 57px;
}

.filter {
    display: inline-block;
}

.content-header-extra + #journal-box {
    margin: 0;
    padding: 1.5rem;
}

.content-header-extra {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.content-header-extra.toggle-filters-closed .filter:not(:first-child) {
    display: none;
}

.filters-toggle {
    flex-grow: 1;
}

#journal-service-menu {
    width: 10em; // Static width as it likes to resize a lot while loading
}

.filters-toggle button {
    float: right;
}

.full-row {
    flex-basis: 100%;
    height: 0;
}

.filter.text-search {
    min-width: 150px;
    max-width: 700px;
    flex-grow: 1;
}

#journal .filter button {
    margin-left: 20px;
    margin-top: 2px;
    margin-bottom: 2px;
}


#accordion-markup {
    margin-bottom: 0px;
}
