html, body {
        height: 100%;
}

.console-ct-container {
    height: 100%;
}

.console-ct-container .panel-body {
    padding: 0;
    position: fixed;
    top: 44px; /* panel-heading in cockpit.css */
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.dark {
    background-color: #002b36;
}

.light {
    background-color: #fdf6e3;
}

.theme-btn {
    margin: 5px;
    border-radius: 50%;
    border: 1px solid grey;
    width: 30px;
    height: 30px;
}

.theme-btn:hover,
.theme-btn.active {
    border-color: #7dc3e8;
}

#terminal {
    height: 100%;
}

.terminal-group {
    display: flex;
    justify-content: space-between;
}

#theme-select {
    margin-right: 5px;
    width: auto;
}

.dropdown-menu { /* make these apply only in temrinal menu */
    left: auto;
    right: 0;
}

.dropdown-toggle {
    width: auto !important;
    padding-right: 6px !important;
}

