html, body {
        height: 100%;
}

.console-ct-container {
    height: 100%;
}

.console-ct-container .panel-body {
    padding: 0;
    position: fixed;
    top: 44px; /* panel-heading in cockpit.css */
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.dark {
    background-color: #002b36;
}

.light {
    background-color: #fdf6e3;
}


#terminal {
    height: 100%;
}

.terminal-group {
    display: flex;
    justify-content: space-between;
}

#theme-select {
    margin-right: 5px;
    width: 70px;
}
