html, body {
        height: 100%;
}

.console-ct-container {
    height: 100%;
}

.console-ct-container .panel-body {
    padding: 0;
    position: fixed;
    top: 44px; /* panel-heading in cockpit.css */
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.black-theme {
    background-color: #000000;
}

.dark-theme {
    background-color: #002b36;
}

.light-theme {
    background-color: #fdf6e3;
}

.white-theme {
    background-color: #ffffff;
}

.theme-btn {
    margin: 5px;
    border-radius: 50%;
    border: 1px solid grey;
    width: 30px;
    height: 30px;
}

.theme-btn:hover,
.theme-btn.active {
    border: 2px solid #7dc3e8;
}

#terminal {
    height: 100%;
}

.terminal-group {
    display: flex;
    justify-content: space-between;
}

#theme-select {
    margin-right: 5px;
    width: auto;
}

#terminal .dropdown-menu {
    left: auto;
    right: 0;
}

#terminal .dropdown-toggle {
    width: auto;
    padding-right: 6px;
}

#theme-select > button span:first-child {
    display: none; /* hide text in select */
}

.font-size {
    font-size: 14px;
}
